# Week4 Day5 Extra Mission 2

## 패키지 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import warnings
warnings.filterwarnings('ignore')

## 데이터 불러오기

In [6]:
stats = pd.read_csv('./data_core2/charcters_stats.csv')
print(len(stats))
stats.head()

611

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [7]:
pub = pd.read_csv('./data_core2/marvel_characters_info.csv')
print(len(pub))
pub.head()

734

,ID,Name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,0,A-Bomb,good,Male,yellow,Human,No Hair,Marvel Comics,-,203.0,441.0
1,1,Abe Sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,191.0,65.0
2,2,Abin Sur,good,Male,blue,Ungaran,No Hair,DC Comics,red,185.0,90.0
3,3,Abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics,-,203.0,441.0
4,4,Abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics,-,-99.0,-99.0

## Extra Mission 2

## 1) 회사별 능력치 합 평균 비교

- 캐릭터는 저마다 지능, 힘, ... 등 다양한 수치를 지니고 있다. 또한 각 캐릭터는 DC, 마블 등 다양한 코믹스 회사를 바탕으로 하고 있다. 어떤 코믹스 회사의 캐릭터들이 능력치 합의 평균이 가장 큰가? 이를 보이기 위한 과정을 보여라.

데이터 병합
- 기존 데이터와 길이가 달라 중복 데이터가 있는지 확인

In [16]:
stat_pub = stats.merge(pub[['Name', 'Publisher']], on='Name', how='left').drop_duplicates(['Name', 'Publisher'])
stat_pub

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,Publisher
0,3-D Man,good,50,31,43,32,25,52,233,NaN
1,A-Bomb,good,38,100,17,80,17,64,316,Marvel Comics
2,Abe Sapien,good,88,14,35,42,35,85,299,Dark Horse Comics
3,Abin Sur,good,50,90,53,64,84,65,406,DC Comics
4,Abomination,bad,63,80,53,90,55,95,436,Marvel Comics
...,...,...,...,...,...,...,...,...,...,...
624,Yellowjacket,good,88,10,12,28,12,14,164,Marvel Comics
625,Yellowjacket II,good,50,10,35,28,31,28,182,Marvel Comics
626,Ymir,good,50,100,27,100,83,28,388,Marvel Comics
627,Zatanna,good,75,10,23,28,100,56,292,DC Comics
628,Zoom,bad,50,10,100,28,72,28,288,DC Comics

이름은 같지만 회사가 다른 케이스 3건 존재.  
ㄴ 삭제

In [25]:
stat_pub.Name.value_counts() == 2

Name
Atlas             2
Angel             2
Captain Marvel    2
Nick Fury         1
Mystique          1
                 ..
Elastigirl        1
Electro           1
Elektra           1
Elle Bishop       1
Zoom              1
Name: count, Length: 610, dtype: int64

In [30]:
stat_pub[(stat_pub.Name == 'Atlas') | (stat_pub.Name == 'Captain Marvel') | (stat_pub.Name == 'Angel')]

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,Publisher
19,Angel,good,63,13,46,64,17,42,245,Marvel Comics
20,Angel,good,63,13,46,64,17,42,245,Dark Horse Comics
42,Atlas,good,50,80,23,99,69,42,363,Marvel Comics
43,Atlas,good,50,80,23,99,69,42,363,DC Comics
144,Captain Marvel,good,100,100,67,95,62,56,480,Marvel Comics
145,Captain Marvel,good,100,100,67,95,62,56,480,DC Comics

## 2) 좋은 캐릭터 vs 나쁜 캐릭터 전쟁

- 좋은 캐릭터와 나쁜 캐릭터가 격돌한다고 한다. 격돌하는 경우 캐릭터들의 능력치의 합의 평균이 큰 팀이 이긴다고 한다. 단, 불의를 못참는 중립 캐릭터들은 중립캐릭터가 없었을 당시에 열세인 팀에 가담한다. 이러한 상황일때 결과적으로 어떤 캐릭터 진영이 승리할 것인가? 이를 보이기 위한 과정을 보여라.